.dashboard-container {
  display: flex;
  height: 100vh;
}

.loading-container, 
.error-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: white;
}

.chat-loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: rgb(180, 180, 180);
  font-size: 1.2rem;
}

/** --- SIDEBAR --- **/
.dashboard-sidebar {
  background-color: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-bottom: 5px;
}

/* Sidebar: Header */
.dashboard-sidebar-header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.dashboard-sidebar-header img {
  width: 30px;
}

.dashboard-sidebar-header-title {
  color: white;
  font-family: "comfortaa", sans-serif;
  font-size: 1.5em;
}

/* Sidebar: Add Conversation */
.conversation-category-add {
  color: rgb(85, 85, 85);
  font-size: 1.5em;
  margin-left: auto;
  padding: 5px;
  transition: color 0.25s;
  will-change: color;
}

.conversation-category-add:hover {
  cursor: pointer;
  color: rgb(233, 233, 233);
}

.conversation-category-add-users {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  padding: 20px;
}

.conversation-category-add-users input {
  padding: 8px;
  border-radius: 10px;
}

.add-user {
  background-color: rgb(43, 43, 43);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.25s;
  will-change: background-color;
}

.add-user:hover {
  cursor: pointer;
  background-color: rgb(85, 85, 85);
}

.create-conversation {
  background-color: rgb(43, 43, 43);
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.25s;
  will-change: background-color;
}

.create-conversation:hover {
  cursor: pointer;
  background-color: rgb(85, 85, 85);
}

/* Sidebar: Conversations */
.conversation-global {
  margin: 20px 15px;
}

.conversation-category {
  display: flex;
  align-items: center;
  color: rgb(233, 233, 233);;
  margin: 0px 10px -10px;
  padding: 10px;
}

.conversation-category-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5px;
  padding: 15px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

.conversation-item {
  background-color: rgb(85, 85, 85);
  color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 20px;
  transition: background-color 0.25s;
  will-change: background-color;
}

.conversation-item:hover,
.conversation-item.selected {
  cursor: pointer;
  background-color: grey;
}

.conversation-icon-global {
  width: 30px;
}

.conversation-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: 30px;
  height: 30px;
  position: relative;
}

.conversation-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emoji-stack {
  position: relative;
  font-size: 0.75em;
  bottom: 25px;
  right: 25px;
}

.emoji-stack .emoji-back {
  z-index: 1;
  position: absolute;
  top: 10px;
}

.emoji-stack .emoji-front {
  position: absolute;
  left: 15px;
}

.emoji-stack .emoji-extra {
  z-index: 1;
  position: absolute;
  color: white;
  font-size: 0.5em;
  top: 30px;
  left: 25px;
}

.emoji-picker {
  z-index: 2;
  position: absolute;
  bottom: 70px;
  left: 40px;
}

/* Sidebar: Profile */
.dashboard-sidebar-profile {
  color: white;
  display: flex;
  align-items: center;
  margin: auto 20px 0;
  height: 70px;
}

.profile-avatar {
  font-size: 2em;
  margin-right: 10px;
  transition: filter 0.25s;
  will-change: filter;
}

.profile-avatar:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px white);
}

.profile-name {
  font-weight: 800;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-settings {
  margin-left: auto;
  width: 30px;
  filter: brightness(50%);
  transition: filter 0.25s;
  will-change: filter;
}

.profile-settings:hover {
  cursor: pointer;
  filter: brightness(100%);
}

/** --- CHAT WINDOW --- **/
.dashboard-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-chat-main {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

.chat-message {
  color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.4;
  word-break: break-word;
}

.chat-avatar {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-bottom: auto;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-username {
  font-weight: 800;
}

.chat-timestamp {
  color: grey;
  font-size: 0.75em;
}

.dashboard-chat-bar {
  display: flex;
  background-color: rgb(100, 100, 100);
  margin-top: auto;
  padding: 18px;
}

.chat-textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  min-height: 40px;
  max-height: 200px;
  font-size: 1rem;
  line-height: 1.4;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.dashboard-chat-bar button {
  padding: 0px 10px;
  border: initial;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/** --- MEMBERS LIST --- **/
.dashboard-members {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 43, 43);
  width: 300px;
}

.dashboard-members-header {
  color: rgb(180, 180, 180);
  display: flex;
  align-items: center;
  padding: 20px 20px 0px;
}

.dashboard-members-add {
  color: rgb(85, 85, 85);
  font-size: 1.5em;
  margin-left: auto;

  transition: color 0.25s;
  will-change: color;
}

.dashboard-members-add:hover {
  cursor: pointer;
  color: rgb(233, 233, 233);
}

.dashboard-members-list {
  color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  padding: 0px 20px 20px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}

.dashboard-members-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-members-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: 40px;
  height: 40px;
}

.dashboard-members-username {
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-members-leave {
  color: white;
  display: flex;
  align-items: center;
  margin: auto 0px 0px;
  padding: 22px;
}

.dashboard-members-leave img {
  margin-left: auto;
  width: 30px;
  filter: brightness(50%);
  transition: filter 0.25s;
  will-change: filter;
}

.dashboard-members-leave img:hover {
  cursor: pointer;
  filter: brightness(100%);
}

.dashboard-leave-confirm {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  padding: 20px;
  border-radius: 20px;
}

.dashboard-leave-confirm-choices {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dashboard-leave-confirm-choice {
  padding: 4px 10px;
  border-radius: 10px;
  transition: filter 0.25s;
  will-change: filter;
}

.dashboard-leave-confirm-choice:hover {
  cursor: pointer;
  filter: brightness(80%);
}

.dashboard-leave-confirm-yes {
  background-color: rgb(54, 114, 54);
}

.dashboard-leave-confirm-no {
  background-color: rgb(233, 54, 54);
}





