.welcome-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 50px;
  width: 450px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgb(27, 27, 27);

  background-color: #3e3e3e;
    background-image: radial-gradient(circle at center center, #dadada, #888888), repeating-radial-gradient(circle at center center, #c1c1c1, #c1c1c1, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
}

/* --- Logo & Title --- */
.echo-logo {
  width: 100px;
  margin-bottom: 10px;
}

.echo-title {
  font-family: "comfortaa", sans-serif;
  font-size: 3em;
  color: white;
}

.echo-subtitle {
  font-family: "major mono display", monospace;
  font-size: 1em;
  color: white;
  letter-spacing: 5px;
}

/* --- Auth Form --- */
.auth-container {
  background-color: rgb(196, 196, 196);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
}

.auth-container form input,
.auth-container form button {
  font-size: 0.8em;
  padding: 10px;
  border-radius: 10px;
}

.auth-container form button {
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
  will-change: background-color, color;
}

.auth-container form button:hover {
  background-color: rgb(37, 37, 37);
  color: white;
}

.auth-error {
  color: rgb(255, 135, 135);
  text-align: center;
  margin-top: 10px;
}

.signup-disclaimer {
  background-color: black;
  color: white;
  font-size: 0.6em;
  text-align: center;
  margin: -5px 0px 8px;
  padding: 10px;
  border-radius: 15px;
}

/* --- Navigation Link --- */
.welcome-link {
  background-color: black;
  color: white;
  font-size: 0.8em;
  width: fit-content;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid rgb(61, 61, 61);
  border-radius: 10px;
  transition: background-color 0.25s, color 0.25s;
  will-change: background-color, color;
}

.welcome-link:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/* --- Credits --- */
.credits-dev {
  color: rgb(95, 95, 95);
  font-size: 0.8em;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credits-dev a {
  color: rgb(95, 95, 95);
  text-decoration: none;
}